In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("AirPollutionSeoul\Original Data\Measurement_info.csv")
df.head()

   Measurement date  Station code  Item code  Average value  Instrument status
0  2017-01-01 00:00           101          1          0.004                  0
1  2017-01-01 00:00           101          3          0.059                  0
2  2017-01-01 00:00           101          5          1.200                  0
3  2017-01-01 00:00           101          6          0.002                  0
4  2017-01-01 00:00           101          8         73.000                  0

In [3]:
items= pd.read_csv("AirPollutionSeoul\Original Data\Measurement_item_info.csv")
items

,Item code,Item name,Unit of measurement,Good(Blue),Normal(Green),Bad(Yellow),Very bad(Red)
0,1,SO2,ppm,0.02,0.05,0.15,1.0
1,3,NO2,ppm,0.03,0.06,0.20,2.0
2,5,CO,ppm,2.00,9.00,15.00,50.0
3,6,O3,ppm,0.03,0.09,0.15,0.5
4,8,PM10,Mircrogram/m3,30.00,80.00,150.00,600.0
5,9,PM2.5,Mircrogram/m3,15.00,35.00,75.00,500.0

In [3]:
grouped = df.groupby(df['Item code'])
grouped.get_group(5).to_csv('CO.csv', index = False, header=False)
#grouped.get_group(5).to_csv('CO.csv', index = False, mode='a', header=False)  #repeat this line to create a bigger file